/* HEADER */

header {
    background: url("../img/header.jpg") no-repeat center / cover;
    color: white;
}

#navbar, #welcome {
    background-color : rgba(0, 0, 0, 0.8);
}

#welcome {
    height: 50vh;
}

/* @media screen and (max-width: 1000px) {
    height: ;
} */

#section-title {
    font-family: 'Oswald', sans-serif;
}

footer {
    height: 35vh;
}

@media screen and (max-width: 1000px) {
    footer {
        height: 72vh;
    }
}