/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Oswald';
    src: url(fonts/Oswald/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Courgette';
    src: url(fonts/Courgette/Courgette-Regular.ttf);
}

h1, h2, h3, h4, label, #logo {
    font-family: 'Courgette', cursive;
}

p, #nav, input, a {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

ul {
    list-style: none;
}

#navbar, #welcome {
    background-color : rgba(0, 0, 0, 0.8);
}

footer {
    height: 35vh;
}

@media screen and (max-width: 1000px) {
    footer {
        height: 72vh;
    }
}

@media  screen and (max-width: 400px) {
    footer {
        height: 90vh;
    }
}

#welcome {
    height: 50vh;
}